{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Pages.ByDate }}
    {{ if and .IsPage (not .Params.hidden) }}
        <section id="{{ .Params.id }}" class="project-section">
            <h2>{{ .Title }}</h2>
            <small>Main page at: <a href="{{ .RelPermalink }}">{{ .Title }}</a></small>
            <p>{{ .Params.description }}</p>
            <div class="project-image-viewer">
            {{ if .Params.images }}
                {{ $page := . }}
                {{ range .Params.images }}
                    <!-- <a href="{{ $page.RelPermalink }}"> -->
                    <a href={{ $page.RelPermalink }}><img src="/img/projects/{{ . }}" alt="{{ $page.Title }}" class="projects-image" /></a>
                    <!-- </a> -->
                {{ end }}
            {{ end }}
            </div>
        </section>
    {{ end }}
{{ end }}
{{ $script := resources.Get "js/projects.js" }}
{{ if $script }}
    <script src="{{ $script.Permalink }}"></script>
{{ end }}
{{ end }}
